.App {
  font-family: sans-serif;
  text-align: center;
}
.pb-3 {
  padding-bottom: 0.75rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
.text-sm {
  font-size: 0.875rem;
}
